@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

* {
    box-sizing: border-box;
    scrollbar-gutter: stable;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

a, a:hover, a:link, a:visited {
    text-decoration: none;
}

@media (max-width: 1025px) {
    .search, a {
        width: 100%;
    }

    a {
        height: 180px;
        padding: 40px;
    }
}

@media (min-width: 1025.1px) {
    a:nth-child(-n+2) {
        width: calc(50% - 10px);
        height: 260px;
        padding: 40px;
    }

    a:nth-child(n+3) {
        width: calc(33.333% - 15px);
        height: 150px;
        padding: 30px;
    }
}

.max-lines-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
